<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SeguridadFiltro</filter-name>
        <filter-class>Filtros.FiltroSeguridad</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SeguridadFiltro</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoServlet</servlet-name>
        <servlet-class>Servlets.EmpleadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventarioServlet</servlet-name>
        <servlet-class>Servlets.InventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolServlet</servlet-name>
        <servlet-class>Servlets.RolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>Servlets.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HabitacionServlet</servlet-name>
        <servlet-class>Servlets.HabitacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MembreciaServlet</servlet-name>
        <servlet-class>Servlets.MembreciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistorialServlet</servlet-name>
        <servlet-class>Servlets.HistorialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturacionServlet</servlet-name>
        <servlet-class>Servlets.FacturacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HorariosServlet</servlet-name>
        <servlet-class>Servlets.HorariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovilServlet</servlet-name>
        <servlet-class>Servlets.MovilServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoServlet</servlet-name>
        <url-pattern>/EmpleadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventarioServlet</servlet-name>
        <url-pattern>/InventarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolServlet</servlet-name>
        <url-pattern>/RolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HabitacionServlet</servlet-name>
        <url-pattern>/HabitacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MembreciaServlet</servlet-name>
        <url-pattern>/MembreciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistorialServlet</servlet-name>
        <url-pattern>/HistorialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturacionServlet</servlet-name>
        <url-pattern>/FacturacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HorariosServlet</servlet-name>
        <url-pattern>/HorariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovilServlet</servlet-name>
        <url-pattern>/MovilServlet</url-pattern>
        <url-pattern>/Movil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
